body {
  background-image: url('store.jpg');
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.GroceriesApp-Container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  min-width: 550px;
}

.CartList-Container {
  width: 35%;
  justify-content: center;
  font-size: 12px;
  /* border: 1px solid white; */
}

.CartList-Card {
  /* display: flex; */
  display: inline-block;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 60%;
}

.CartList-Card-Info {
  display: flex;
  justify-content: space-around;
}

/* Apply a semi-transparent background to the cards */
.CartList-Card, .Inventory-Card {
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the RGB values and opacity (0.7 for 70% opacity) */
}


.Inventory-Container {
  width: 75%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid white; */
}

.Inventory-Card {
  width: 25%;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

img {
  height: 70px;
  border-radius: 10px;
}

.counter-container {
  /* border: 1px solid white; */
  display: flex;
  width: 70%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
}

.counter-button {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.CartList-Buttons {
  display: flex;
  justify-content: space-around;
}

.Remove-Button {
  background-color: rgb(190, 0, 0);
}

#Buy-Button {
  background-color: green;
}
